body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0px 24px;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color-trans);
    backdrop-filter: blur(12px);
    box-sizing: border-box;
}

main {
    margin-top: 72px;
    padding: 24px;
    display: grid;
    grid-template-columns: auto minmax(30%, 420px);
    flex: 1;
}

main>div {
    padding: 12px;
}

button {
    width: 120px;
    height: 80px;
    font-size: larger;
    /* background-color: var(--accent-color);
    color: white;
    border: none; */
}

label {
    display: block;
    /* color: white;
    border-radius: 24px;
    padding: 2px 12px;
    align-items: center;
    height: 2rem;
    font-size: medium;
    background-color: red; */
}

input:checked {
    background-color: var(--accent-color);
}



.output {
    background-color: var(--elevated-color);
    border-radius: 12px;
    padding: 12px;

    display: flex;
    flex-direction: column;
}

.button-wrapper {
    margin-top: 48px;
}

#result {
    font-size: 10rem;
    margin: auto;
    padding-bottom: 30%;
    text-align: center;
}